* {
    margin: 0;
    padding: 0;
}
/* GENERALES */
:root {
    --color-white: #FFF;
    --color-black: #212922;
    --color-destaque: #01A437;
    --color-claro: #ACE894;
    --color-CTA: #E55934;
}
@font-face {
    font-family: 'Fonarto';
    src: url(../fonts/fonarto.ttf);
}

ul {
    list-style: none;
}

/* DISPLAY */
.grid {
    display: grid;
}

.flex {
    display: flex;
    flex-direction: row;
}

.vflex {
    flex-direction: column;
}

.flxCenter {
    justify-content: center;
}

.flxAlgnCenter {
    align-items: center;
}

.flxBetween {
    justify-content: space-between;
}

.centerDiv {
    width:50%; 
    margin:0 auto;
}

button {
    font-family: 'Fonarto';
    display: block;
}

/* TEXTO */
.txtBlanco {
    color: var(--color-white);
}

.txtDestaque {
    color: var(--color-destaque);
}

.txtCenter {
    text-align: center;
}

.fntAsap {
    font-family: 'Asap Condensed', sans-serif;
}

.fntArima {
    font-family: 'Arima', cursive;
}

.fntFonarto {
    font-family: 'Fonarto';
}

h2 {
    font-family: 'Arima', cursive;
}


.navBar {
    position: fixed;
}
#indexHero {
    background: radial-gradient(50% 50% at 50% 50%, rgba(33, 41, 34, 0) 6.77%, #212922 100%),url(../img/burger-hero.png);
    background-blend-mode: hard-light, normal;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#indexhero__SMlogos {
    position: absolute;
    left: 120px;
    bottom: 30%;
}


.carousel-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.carousel-item {
    width: auto;
}

.carousel-items {
    gap: 20px;
}
.carousel-wrapper {
    overflow: hidden;
}

.carousel-control {
    position: absolute;
    top: 50%;
}

.carousel-control-prev {
    left: -10px;
}
  
.carousel-control-next {
    right: -10px;
}

/* Ingredientes */
.vIngredientes-container {
    position: relative;
    height: 500px;
}

.vIngredientes-item {
    width: calc(100% / 7);
    padding: 60px 0 60px 0px;
    box-sizing: border-box;
    background-color: var(--color-claro);
    border-right: 2px solid var(--color-white);
}

.vIngredientes-item p {
    max-width: 138px;
    margin-left: 20px;

}

.vIngredientes-item img {
    align-self: center;
    width: 80%;
    height: auto;
}

#verMasIngredientes {
    width: calc(2* (100%/7));
    background: url(../img/ingredientes-varios.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 30px;

}


